name: pr
  
on:
  pull_request:
    branches:
      - main

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - run: echo "building and testing the app ..."
  docker-build-push:
    runs-on: ubuntu-latest
    needs: build-test
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: WebApplication1/Dockerfile
          push: true
          tags: santi10/argocd-course-webapp:${{ github.event.pull_request.head.sha }}

  update-image-tag-in-helm:
    runs-on: ubuntu-latest
    needs: docker-build-push
  
    permissions:
      contents: write
  
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0
  
      - name: Update values.yaml
        run: |
          git config user.email "ci-bot@argocd.com"
          git config user.name "ci-bot"
  
          sed -i "s,tag:.*,tag: ${{ github.event.pull_request.head.sha }}," helm/webapp/values.yaml
  
          git add helm/webapp/values.yaml
          git commit -m "update image tag [skip ci]" || exit 0
  
      - name: Push back to PR branch
        run: |
          git push origin HEAD:${{ github.event.pull_request.head.ref }}
          
  add_labels:
    runs-on: ubuntu-latest
    needs: update-image-tag-in-helm
    steps:
      - uses: actions/checkout@v2
      - uses: actions-ecosystem/action-add-labels@v1
        with:
          labels: |
            preview



